[Desktop Entry]
Type=Application
Version=1_1
Name=Minecraft Launcher
Comment=The official launcher for the game Minecraft
Exec=/opt/minecraft-launcher/minecraft-launcher
Path=/opt/minecraft-launcher
#Icon=
Terminal=false
Categories=Game;Application;
